<div class="box">
  <h1>BookChomp</h1>

  <div class="form">
    <%= form_for Post.new, url: posts_path, html: { multipart: true } do |form| %>
      <%= form.text_field :title %>
      <%= form.file_field :image %>
      <%= form.submit "Upload File" %>
    <% end %>
  </div>

  <div class="container" ng-controller="PostsController">
    <div ng-repeat="post in posts">
      Chomps available for {{post.title}}<br />
      <a href="/posts/{{ post.id }}/chomp?size=taste">Taste</a> |
      <a href="/posts/{{ post.id }}/chomp?size=nibble">Nibble</a> |
      <a href="/posts/{{ post.id }}/chomp?size=bite">Bite</a> |
      <a href="/posts/{{ post.id }}/chomp?size=appetizer">Appetizer</a> |
      <a href="/posts/{{ post.id }}/chomp?size=entree">Entree</a> |
      <a href="/posts/{{ post.id }}/chomp?size=feast">Feast</a> |
      <a href="/posts/{{ post.id }}/chomp?size=buffet">Buffet</a> |
      <a href="/posts/{{ post.id }}/chomp?size">Full Chomp</a>
    </div>
  </div>

  <abbr title="Upload any text of any size and let BookChomp create a delicious set of samples. Choose from a tiny taste to a full chomp of all the data, randomly recomposed for your pleasure. Just copy the relevant link. Warning: chomps are only as quality as the text going in." class="hi">?</span>
</div>
