<%= form_for Post.new, url: posts_path, html: { multipart: true } do |form| %>
  <%= form.text_field :title %>
  <%= form.file_field :image %>
  <%= form.submit "Upload File" %>
<% end %>

<div  ng-controller="PostsController">
  <div ng-repeat="post in posts">
    {{ post.title }}, {{ post.body }}, {{ post.image_file_name }}, {{ post.id }}
  </div>
</div>

<!-- <form ng-submit="createPost()"> -->
  <!-- <input type="text" ng-model="newPost.title">
  <input type="text" ng-model="newPost.body">
  <input type="file" ng-model="newPost.image"/> -->
  <!-- <input type="submit"> -->
<!-- </form> -->
